decord>=0.6.0
fvcore
matplotlib
mmcv-full==1.5.0
mmdet==2.23.0
mmpose==0.24.0
moviepy
numpy>=1.19.5
opencv-python-headless
importlib_metadata
pymemcache
scipy
torch>=1.5
tqdm
pandas
xlsxwriter

# 추가 필수
pyyaml
addict
yapf
termcolor
packaging

# 선택적 유틸
albumentations
seaborn
tensorboard
ipython
